.pokemon_bloquedao {
    // filter: grayscale(100%) brightness(0.1);
    filter: grayscale(80%) brightness(0.7);
}

.fondo {
    // background-image: url("../img/wp8813120.webp");
    text-align: center;
    font-family: Arial, sans-serif;

    #sticky-button {
        position: sticky;
        top: 20px;
        z-index: 999;



        #sticky-boton {
            margin-left: 2%;
            margin-bottom: 10px;
        }
    }

    #volves_arriba {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;
    }

        padding: h1 {
            color: yellow;
        }

        .caja_pokemon {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;

            .pokemon {
                // fondo caja
                background-color: rgb(101, 90, 255);

                border: 1px solid black;
                margin: 10px;
                text-align: center;

                img {
                    background-color: white;
                    width: 100px;
                    height: 100px;
                }

                p {
                    color: white;
                }
            }

            .pokemon:hover {
                transform: scale(1.05);
                /* Agrega un pequeño efecto de aumento cuando pasa el ratón */
            }
        }
    }